.header {

    display: flex;
    background-color: rgb(50, 167, 145);
}

.trybewarts-login {

    display: flex;
}

.form-trybewarts {

    display: flex;
}

#evaluation-form {

    display: flex;
    width: 675px;
}